{% comment %} {% extends 'base.html' %} {% endcomment %}

{% comment %} {% block head %} {% endcomment %}
{% include 'human/base.html' %}

{% comment %} {% block body %} {% endcomment %}
{% if humans_list %}
<ul>
    {% for human in humans_list %}
        <li><a href="{% url 'human:person' human.id %}">{{ human.name }}</a></li>
        {{ human.age }} {{' years old'}}
        <hr>
    {% endfor %}
</ul>
{% else %} 
    <p>There are no humans</p>
{% endif %}
{% comment %} {% endblock  %} {% endcomment %}
<a href="{% url 'logout'%}">logout</a>