{% include 'human/base.html' %}

<h1>{{ human.name }}</h1>

</br>{{ 'relatives: '}}

<ul>
    {% for h in human.relatives.all %}
        <li><a href="{% url 'human:person' h.id %}">{{ h.name }}</a></li>
        {% for r in h.relatives.all %}
            <li><a href="{% url 'human:person' r.id %}">{{ r.name }}</a></li>
            
        {% endfor %}
    {% endfor %}
</ul>
<a href="{% url 'human:humans' %}">Back to list of humans?</a>

</br><a href="{% url 'logout'%}">logout</a>