{% if error %}
    {{error}}
{% else %}
    You want to change password, {{ user }}?
{% endif %}
<form method="post">
{% csrf_token %}
    {{form.as_p}}
    <button type="submit">Confirm</button>
</form>
    <form action="../profile">
        <button type="submit">Back to profile</button>
    </form>