Are you sure you want to delete an account?
<form method="post">
    {% csrf_token %}
    {% comment %} </b><a href="{% url 'application:login' %}">Yes</a> {% endcomment %}
    <input type="submit" action="/final/login/" value="Yes"/>
    {% comment %} </b><a href="{% url 'application:profile' %}">No</a> {% endcomment %}
</form>
<form action="../profile">
    <button type="submit">No</button>
</form>