{% if error %}
    {{error}}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    </br><button action={{next}} type="submit">Login</button>
    {% if pred %}
        <a href="../profile">Login via link</a>
    {% endif %}    
</form>

<form action="../register">   
        <button type='submit'>Register</button>
</form>