{{user}}, you've successfully logged out
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm"/>
</form>

<form action="../profile">
    <button type="submit">Back to profile</button>
</form>