{% if error %}
    {{error}}
{% endif %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Submit</button>
    </form>
    <form action="../login">
        </br>Have an account?    
        <button type='submit'>login</button>
    </form>
</div>