Hello, {{user.username}}
<form action="../logout">
    </br><button type="submit">Logout</button>
</form>
<form action="../change">
    </br><button type="submit">Change password</button>
</form>
<form action="../delete">
    </br><button type="submit">Delete account</button>
</form>

{% if user.is_superuser %}
    <form action="./adminview">
        </br><button type="submit">Go to admin page</button>
    </form>
{% endif %}
